<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          Add/Edit
        </div>
        <div class="card-body">
          <form [formGroup]="form" novalidate>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="name">Name<span class="red-span">*</span></label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="name" name="name" formControlName="name"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="model">Model<span class="red-span">*</span></label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="model" formControlName="model"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <p>Range<span class="red-span">*</span></p>
                </div>
                <div class="col-2">
                  <label for="rangeFrom">From</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="rangeFrom" formControlName="rangeFrom"/>
                </div>
                <div class="col-2">
                  <label for="rangeTo">To</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="rangeTo" formControlName="rangeTo"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="type">Type<span class="red-span">*</span></label>
                </div>
                <div class="col">
                  <select formControlName="type" [(ngModel)]="selectedTypeValue" (change)="onChange($event)">
                    <option *ngFor="let t of types" [ngValue]="t"
                            id="type">{{t.value}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="unit">Unit<span class="red-span">*</span></label>
                </div>
                <div class="col">
                  <div *ngIf="units.length !== 0; else unitsIsEmpty">
                    <select formControlName="unit">
                      <option *ngFor="let u of units" id="unit" [ngValue]="u">{{u.value}}</option>
                    </select>
                  </div>
                  <ng-template #unitsIsEmpty><select disabled>
                  </select></ng-template>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="location">Location</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="location" formControlName="location"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="description">Description</label>
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="description" formControlName="description"/>
                </div>
              </div>
            </div>
          </form>
          <div class="row justify-content-center">
            <div class="col">
              <div *ngIf="getLocationControl().invalid; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock class="btn-class">
                <button class="btn btn-outline-secondary my-2 my-sm-0" disabled>Save</button>
              </ng-template>
              <ng-template #elseBlock>
                <button routerLinkActive="sensors" class="btn btn-outline-secondary my-2 my-sm-0" type="button"
                        (click)="saveSensor()">Save
                </button>
              </ng-template>
            </div>
            <div class="col">
              <button routerLinkActive="sensors" class="btn btn-outline-secondary my-2 my-sm-0" type="button">Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
